.code-review-left-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.go-to-bottom {
  position: fixed;
  right: 15px;
  bottom: 25px;
  border: 1px solid var(--textColor);
  font-size: 0px;
  background: var(--opositeColor);
  /* background: var(--cardColor); */
  color: var(--textColor);
  cursor: pointer;
  z-index: 16;
  padding: 2px;
  border-radius: 4px;
}

.ai-review-container {
  border: 1px solid var(--textColor);
  padding: 15px 10px 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  max-width: 90vw;
}

.ai-review-container pre {
  background-color: var(--textColor);
  border-radius: 6px;
}

.ai-review-container pre > .code-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px 0px 10px;
  gap: 10px;
  width: 100%;
  color: var(--opositeColor);
}

.ai-review-container pre > .code-header > span {
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.ai-review-container pre > .code-header > span:hover {
  background-color: #8a44f2;
}
