.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  animation: fadeIn 0.3s ease;
  padding: 5px;
  z-index: 999;
}

.model-content {
  width: 480px;
  background: var(--backGroundColor);
  border-radius: 18px;
  padding: 25px 30px;
  box-shadow: 0 10px 40px var(--shadowColor);
  animation: scaleIn 0.25s ease;
  max-height: 90vh;
  overflow: hidden auto;
}

.model-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--textColor);
}

.model-close-btn {
  background: transparent;
  border: 1px solid var(--textColor);
  color: var(--opositeColor);
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  transition: 0.2s;
}

.model-close-btn:hover {
  background: var(--backGroundColor);
  color: var(--textColor);
}

.model-description {
  margin-top: 10px;
  color: var(--textsubColor);
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.model-content-area {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.model-option {
  display: flex;
  gap: 18px;
  border: 1px solid var(--borderColor);
  border-radius: 14px;
  padding: 16px;
  transition: 0.25s ease;
  cursor: pointer;
  background: var(--cardColor);
}

.model-option:hover {
  border-color: var(--textColor);
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(148, 92, 233, 0.15);
}

.model-option-icon {
  padding: 12px;
  height: fit-content;
  background: var(--textBlindColor);
  border: 1px solid var(--textColor);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
}

.model-option-info h4 {
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--textColor);
}

.model-option-info p {
  font-size: 14px;
  color: var(--textsubColor);
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
