:root {
  --codeColor: vs;
  --backGroundColor: #ffffff;
  --textColor: #945ce9;
  --textBlindColor: #945ce921;
  --textsubColor: #a5a5a5;
  --borderColor: rgb(0 0 0 / 14%);
  --shadowColor: rgb(0 0 0 / 9%);
  --cardColor: #f9f7ff;
  --cardHoverColor: #e7e6ec;
  --opositeColor: #000;
}

[data-theme="dark"] {
  --codeColor: vs-dark;
  --backGroundColor: #08080a;
  --textColor: #a978ea;
  --textBlindColor: #945ce921;
  --textsubColor: #a5a5a5;
  --borderColor: rgba(255, 255, 255, 0.14);
  --shadowColor: rgba(255, 255, 255, 0.14);
  --cardColor: #141318;
  --cardHoverColor: #1d1b23;
  --opositeColor: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backGroundColor);
  color: var(--textColor);
}

:disabled {
  cursor: not-allowed !important;
}

.main-content-landingpage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  height: 90vh;
}

@media (max-width: 768px) {
  .display-none {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .main-content-landingpage {
    padding: 12px;
  }
}

/* ------  toast ------ */
[data-sonner-toast] {
  background-color: #1e293b !important;
  color: #f1f5f9 !important;
  border-radius: 10px;
}
[data-sonner-toast][data-type="success"] {
  background-color: #00af4e !important;
}
[data-sonner-toast][data-type="error"] {
  background-color: #dc2626 !important;
}

[data-sonner-toast][data-type="warning"] {
  background-color: #f59e0b !important;
  color: white !important;
}

[data-sonner-toast][data-type="info"] {
  background-color: #3b82f6 !important;
  color: #ffffff !important;
}
