.topbar-container {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backGroundColor);
  padding: 20px 60px;
  border-bottom: 1px solid var(--borderColor);
  z-index: 7;
}

.topbar-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.topbar-back-btn {
  background: var(--textBlindColor);
  color: var(--textColor);
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.topbar-back-btn:hover {
  border-color: var(--textColor);
}

.brand {
  color: var(--textColor);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  border: 1px solid transparent;
  padding: 3px 7px 4px 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.brand:hover {
  border: 1px solid var(--textColor);
}

.brand > img {
  height: 70px;
  width: 100%;
  object-fit: cover;
  margin: -15px -8px -15px -6px;
}

.topbar-right {
  display: flex;
  align-items: center;
    flex-wrap: wrap;
  gap: 25px;
}

.topbar-right-nav-item {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  color: var(--opositeColor);
  font-size: 16px;
  transition: color 0.3s;
}

.topbar-right-nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--textColor);
  transition: width 0.3s ease;
}

.topbar-right-nav-item:hover {
  color: var(--textColor);
}

.topbar-right-nav-item:hover::before {
  width: 100%;
}

.icon {
  font-size: 0px;
  cursor: pointer;
}

.icon-btn {
  padding: 4px;
  border-radius: 10px;
  background: var(--backGroundColor);
  border: 1px solid var(--borderColor);
  transition: transform 120ms ease;
}

.icon-btn:hover {
  transform: translateY(-2px);
}

.topbar-nav-btn {
  padding: 10px 20px;
  background: var(--textColor);
  color: var(--backGroundColor);
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.topbar-nav-btn:hover {
  opacity: 0.85;
}

@media (max-width: 1000px) {  .brand {
    font-size: 0px;
  }}

@media (max-width: 660px) {
  .topbar-container {
    padding: 10px 20px;
  }
  .brand {
    font-size: 0px;
  }
  .brand > img {
    margin: 0px;
    width: 42px;
  }
  .topbar-right {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: end;
  }
  .topbar-right-nav-item {
    font-size: 14px;
  }
  .topbar-nav-btn {
    padding: 7px;
    border-radius: 5px;
  }
}
